<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

        <beans>
        <bean id = "parentTriangle" class="com.example.spring.Triangle">
         <property name="xy" ref="zeroCoordinate"></property>
        </bean>
        <bean id="triangle1" class="com.example.spring.Triangle" parent="parentTriangle">
        
        <property name="yz" ref="firstCoordinate"></property>
        <property name="xz" ref="secondCoordinate"></property>
       
        </bean>
        <bean id="triangle2" class="com.example.spring.Triangle" parent="triangle1">
        
        </bean>
        <bean id="zeroCoordinate" class="com.example.spring.Line">
        <property name="x" value="${zeroCoordinate.x}"></property>
        <property name="y" value="${zeroCoordinate.y}"></property>
        </bean>
        <bean id="firstCoordinate" class="com.example.spring.Line">
        <property name="x" value="-20"></property>
        <property name="y" value="0"></property>
        </bean>
        <bean id="secondCoordinate" class="com.example.spring.Line">
        <property name="x" value="20"></property>
        <property name="y" value="0"/>
        </bean>
       
        <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <!--  <property name="locations" value="classpath:com/example/spring/LineConfig.properties"></property>--><!--LineConfig.properties is in the same location as other java classes -->
        <property name="locations" value="LineConfig.properties"></property><!-- LineConfig.properties is in the same location as spring.xml -->
        </bean>
        </beans>